@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Fredoka&family=Kablammo&family=Luckiest+Guy&family=Noto+Sans+JP&family=Roboto:ital@0;1&family=Tektur&family=Vina+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #e6e6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    padding: 20px;
    background-color: #fe4a49;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Prevent scrolling within the container */
}

.container h1 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.container ul {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden; /* Prevent scrolling within the list */
}

.container li {
    margin: 10px;
}

.container a {
    text-decoration: none;
    color: #e6e6ea;
}

.current a::after {
    content: "_";
    background-color: white;
    font-size: 4px;
    display: block;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
    overflow: hidden; /* Prevent scrolling within the wrapper */
}

.equation {
    font-size: 8vw;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.equation h1 {
    display: inline;
}

.answer-options {
    font-size: 8vw;
}

.answer-options h1 {
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    transition: background-color 0.5s, color 0.5s;
}

#option1 {
    background-color: #fe4a49;
}

#option1:hover {
    color: #fe4a49;
    background-color: white;
}

#option2 {
    background-color: #b828b83b;
}

#option2:hover {
    color: #1c60df;
    background-color: white;
}

#option3 {
    background-color: #1c5ca7;
}

#option3:hover {
    color: #caeb39;
    background-color: white;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
    .wrapper {
        grid-template-columns: 82% 18%;
    }

    .equation {
        font-size: 5vw;
    }

    .answer-options {
        font-size: 5vw;
    }
}

@media (max-width: 599px) {
    .container ul {
        flex-direction: column;
        align-items: center;
    }

    .equation {
        font-size: 10vw;
    }

    .answer-options {
        font-size: 10vw;
    }
}
