@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Fredoka&family=Kablammo&family=Luckiest+Guy&family=Noto+Sans+JP&family=Roboto:ital@0;1&family=Tektur&family=Vina+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #e6e6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
}

.container {
    background-color: #fe4a49;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.container h1 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.container ul {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.container li {
    margin: 10px;
}

.container a {
    text-decoration: none;
    color: #e6e6ea;
}

.current a::after {
    content: "_";
    background-color: white;
    font-size: 4px;
    display: block;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.equation {
    font-size: 8vw;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border
